<section id="1" class = home>   
    <h1> Dóra Dentál Fogtechnikai Labor <img src="assets/img/tooth-outline.png"> </h1>
    <div class = "container">
        <h2>
                Húsz éves szakmai tapasztalattal rendelkező, több mint tíz éve indult családi vállalkozás vagyunk, ahol a
                termékeink között megtalálhatók a kivehető és rögzített fogpótlásoktól, a sportfogvédők és 
                mély húzott sínekig szinte minden termék, amelyek minőségi alapanyagokból, a legnagyobb gyártok termékeinek felhasználásával készülnek el fogtechnikai laborunkban a lehető legnagyobb választékban.
        </h2>
    </div>
</section>
