/* icon bar */
.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 40px;
  }
  
  .icon-bar a:hover {
    background-color: #000;
  }
  
  .gmail {
    background: #3B5998;
    color: white;
  }

  /* overlay */
.overlay {   
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden; 
    transition: 0.5s; 
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    color: #818181;
  }
  .overlay-content h2 {
    font-size: 50px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 600px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: -webkit-xxx-large;
      top: 15px;
      right: 35px;
    }
    .overlay-content {
      font-size: -webkit-xxx-large;
    }
  }

  /*input */
  input[type=text]{
    width: 50%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}
textarea{
  width: 50%;
  height: 100px;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  text-align: justify;

}

.button {
  background-color: gray;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}