<section>
    <div class="container">
        <h1>Feliratkozók listája</h1>
        <table>
            <tr>
                <th scope="col">
                    <h5>Név</h5>
                </th>
                <th scope="col">
                    <h5>Email</h5>
                </th>
            </tr>
            <tr *ngFor="let subscriber of subscribers">
                <td>
                    <h5>{{ subscriber.name }}</h5>
                </td>
                <td>
                    <h5>{{ subscriber.email }}</h5>
                </td>
                <td>
                    <button (click)="delete(subscriber._id)" class="btn btn-danger">Törlés</button>
                </td>
            </tr>
        </table>
    </div>
</section>
