  
  <section id="3" class="bg">
          <div class="cim">
              <h1 > Galléria </h1>
          </div>
          <div class="slideshow-container">
              <div class="mySlides fade">               
                <img src="assets\img\1.JPG" style="width:100%" >
              </div>
              <div class="mySlides fade">             
                <img src="assets\img\2.JPG" style="width:100%">
              </div>
              <div class="mySlides fade">              
                <img src="assets\img\3.JPG" style="width:100%">
              </div>
              <div class="mySlides fade">              
                <img src="assets\img\4.JPG" style="width:100%">
              </div>
              <div class="mySlides fade">                
                <img src="assets\img\5.JPG" style="width:100%">
              </div>
              <div class="mySlides fade">               
                <img src="assets\img\6.JPG" style="width:100%">
              </div>
              <div class="mySlides fade">              
                <img src="assets\img\7.JPG" style="width:100%">
              </div>
              <div class="mySlides fade">               
                <img src="assets\img\8.JPG" style="width:100%">
              </div>
              <div class="mySlides fade">             
                <img src="assets\img\9.JPG" style="width:100%">
              </div>
            <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
            <a class="next" (click)="plusSlides(1)">&#10095;</a>
            </div>
        <br>
        <div style="text-align:center">
            <span class="dot" (click)="goToSlide(1)"></span>
            <span class="dot" (click)="goToSlide(2)"></span>
            <span class="dot" (click)="goToSlide(3)"></span>
            <span class="dot" (click)="goToSlide(4)"></span>
            <span class="dot" (click)="goToSlide(5)"></span>
            <span class="dot" (click)="goToSlide(6)"></span>
            <span class="dot" (click)="goToSlide(7)"></span>
            <span class="dot" (click)="goToSlide(8)"></span>
            <span class="dot" (click)="goToSlide(9)"></span>
        </div>
            <div class="also">
                <h1 >hello</h1>
            </div>
  </section>
  

