  <section class="bg">
  <div class="cim">
      <h1> Galléria </h1>
    </div>
  <div class="slideshow-container">

<div class="mySlides fade">
  
  <img src="assets\img\1.JPG" style="width:100%" >
</div>

<div class="mySlides fade">
 
  <img src="assets\img\2.JPG" style="width:100%">
</div>

<div class="mySlides fade">
  
  <img src="assets\img\3.JPG" style="width:100%">
</div>
<div class="mySlides fade">
 
  <img src="assets\img\4.JPG" style="width:100%">
</div>
<div class="mySlides fade">
  
  <img src="assets\img\5.JPG" style="width:100%">
</div>
<div class="mySlides fade">
  
  <img src="assets\img\6.JPG" style="width:100%">
</div>
<div class="mySlides fade">
 
  <img src="assets\img\7.JPG" style="width:100%">
</div>
<div class="mySlides fade">
  
  <img src="assets\img\8.JPG" style="width:100%">
</div>
<div class="mySlides fade">
 
  <img src="assets\img\9.JPG" style="width:100%">
</div>
</div>

<br>

<div class="picture-navigation" style="text-align:center">
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
</div>
<!-- <script src="assets/index.js"></script> -->
<div class="also">
<h1>hello</h1>
  </div>
  </section>
  

