<section id="contact-list" class="bg-light">
    <div class="container">
       
        <h1 >Elérhetőségek:</h1>
        <div class="box-container">
            <div class="box">
                <i class="fas fa-phone fa-3x"></i>
                <h3>Telefon</h3>
                <p>+36 30 458 1661</p>
            </div>
            <div class="box">
                <i class="fas fa-envelope fa-3x"></i>
                <h3>Email Cím</h3>
                <p>doradental@doradental.hu</p>
            </div>
            <div class="box">
                <i class="fas fa-map-marked-alt fa-3x"></i>
                <h3>Labor</h3>
                <p>3300, Eger Bethlen Gábor utca 7.</p>
            </div>
        </div>
        <div class="gmap_canvas">
            <iframe  height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Eger%2CBethlen%20G%C3%A1bor%20u.%207&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>
</section>