<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dora dental website API</title>
</head>
<body>
    <!-- <h1>Welcome to the book reader API!</h1>
    <h2>Here are the uris that you can use:</h2>
    <ul>
        <li>GET all books: API/books</li>
        <li>GET book by id: API/books/:id</li>
        <li>POST book: API/books/:key</li>
        <li>UPDATE a book: API/books/:id&:key</li>
        <li>DELETE a book: API/books/:id&:key</li>
    </ul> -->
</body>
</html>