<section id="2" class = "about fixed-bg" >
    <h1 ><span>Rólunk</span></h1>
    <div class = "container">
         <img src="assets/img/test1.jpg">
        <div class = aboutText>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lacus libero, placerat id pulvinar id, molestie sed libero. Duis at est non nulla vestibulum accumsan tincidunt eget justo. Donec sit amet metus a risus cursus facilisis id quis orci. 
            Nunc vestibulum augue enim, sit amet euismod quam maximus nec. Etiam eget massa non ligula molestie volutpat ac vel sapien. Duis vitae efficitur tellus. Mauris mattis, risus vitae congue laoreet, arcu velit ultrices nulla, vel facilisis tortor lectus vitae dui. Proin molestie tincidunt felis, nec imperdiet eros iaculis et. 
            Pellentesque sollicitudin convallis mattis. Pellentesque eleifend dolor id lectus volutpat, in rutrum orci feugiat. Pellentesque commodo aliquam auctor. Pellentesque blandit tincidunt imperdiet. Donec consequat magna ut est bibendum auctor. Aliquam bibendum sagittis lectus vitae pretium. Maecenas bibendum leo a ornare fringilla.       
            Nullam sit amet dui risus.
        </p>
        </div >
    </div>
</section  >
