<section id="2" class = "about fixed-bg" >
    <h1><span>Munkatársak</span></h1>
    <div class = "container">
         <img src="assets/img/employee3.jpg">
        <div class = aboutText>
            <h2>Pászti Bernadett</h2>
            <h4>Protetikus</h4>
            <h5>
                3. éve dolgozom a szakmában, 1 éve kerültem a Dóra Dentálnálhoz, mint protetikus: kivehető fogsorokat, alábéleléseket, javításokat csinálok nap mint nap.               
                Fiatal korom ellenére megbízható, rutinos, lelkiismeretes szakembernek tartom magam. Bár újat tanulni mindig lehet, én soha nem ijedtem meg az újabb kihívásoktól. Nagyon fontos számomra az orvosok és a páciensek részéről a pozitív visszajelzés, ezért mindig maximális alázattal és kellő odafigyeléssel állok rendelkezésükre. 
                A tudásvágy és a szakma iránti  szeretetemnek köszönhetően alig várom, hogy még több technikát sajátíthassak el, ezzel is növelve a gyakorlatias tudásom és orvosaink, pácienseink kívánságának minden téren való kielégítését!
            </h5>
        </div>
    </div>
</section>
