* {
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 19px;
    text-align: justify;
}

.about {
    background: var(--off_white);
}

h1 {
    margin: auto;
    max-width: 1100px;
    padding: 1.5rem;
}

h1 span {
    padding: 0.6rem;    
    font-size: 2.5rem;
    color: rgba(246,247,248,1);
    background-color:rgba(122,117,129,0.6);
}

.container img {
    flex: 0.5;
    width: 20%;
    padding: 0px;
}


.fixed-bg {
    background-image: url("..\..\assets\img\8.jpg");
    background-color:black;
    min-height: 450px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--off-white);
  }

.aboutText p {
    color: rgba(246,247,248,1);
}

.aboutText{
    background-color:rgba(122,117,129,0.6);
    flex: 1.5;
}

@media screen and (max-width: 876px) {
    .container {
        flex-direction: column;
    }
}