<section class="logos" >
    <div class = "logo">
            <img src="assets\img\logoShera.jpg">
            <img src="assets\img\logoYamachi.jpg">
            <img src="assets\img\logoBego.jpg">
            <img src="assets\img\logoBredent.jpg">
    </div>
    <div class = "logo2">
            <img src="assets\img\logoVita.jpg">
            <img src="assets\img\logoCeka.jpg">
            <img src="assets\img\logoKulzer.jpg">
    </div>
</section>

<footer id="main-footer">
        <p>&copy; Dóra dentál Kft. - 2019</p>
    </footer>