<div class="container">
    <div class="product-column">
        <p class="product-main-heading">KIVEHETŐ FOGPÓTLÁSOK</p>
        <p class="product-sub-heading">Egyéni kanál</p>
        <p class="product-heading">Fényre kötő</p>
        <p>Fogsor alaplemez</p>
        <p class="product-sub-heading">Sport fogvédő</p>
        <p class="product-heading">Átlátszó</p>
        <p class="product-heading">Színes</p>
        <p class="product-heading">Mintás</p>
        <p>Fogfehérítő sín</p>
        <p>Éjszakai harapásemelő sín</p>
        <p>Horkolás gátló készülék</p>
        <!--<img id="onlay-image" src="assets/img/product-list-onlay.jpg"> -->
    </div>
    <div class ="product-column">
            <p class="product-main-heading">KIVEHETŐ FOGPÓTLÁSOK</p>
            <p class="product-sub-heading">Műfogak</p>
            <p class="product-heading">Akril</p>
            <p class="product-heading">Kompozit</p>
            <p class="product-heading">Kerámia</p>
            <p>Alábélelés</p>
            <p>Öntött fémbetét</p>
            <p>Fémfog fogsorba</p>
            <p>Fogsorháló</p>
            <p>Fogsorjavítás</p>
            <p>Fémlemez</p>
    </div>
    <div class="product-column">
        <p class="product-main-heading">RÖGZÍTETT FOGPÓTLÁSOK</p>
        <p class="product-sub-heading">Teleszkóp korona</p>
        <p class="product-heading">Primer</p>
        <p class="product-heading">Szekunder</p>
        <p class="product-heading">Szekunder K+B leplezéssel</p>
        <p class="product-heading">Porcelán leplezéssel</p>
        <p>Fémkorona</p>
        <p>Korona v. Hídtag K+B leplezéssel</p>
        <p>Csapos műcsonk</p>
        <p>Akril korona (ideiglenes)</p>
        <p>Fémkerámia korona</p>
        </div>
    <div class="product-column">
         <p class="product-main-heading">RÖGZÍTETT FOGPÓTLÁSOK</p>
         <p class="product-sub-heading">Rejtett elhorgonyzások</p>
         <p class="product-heading">Preci-Vertix+Horix</p>
         <p class="product-heading">Vario-Kugel</p>
         <p class="product-heading">Stég</p>
         <p>Frézelt váll + Interlock</p>
         <p>Gyökér csapos Vario-Kugel fogsor elhorgonyzáshoz</p>
         <p>Üvegpillér</p>
         <p>Betétcsere</p>
         <p>Héjkerámia</p>
         <p>Jacket korona</p>
    </div>
    <div class="product-column">
        <p class="product-main-heading">RÖGZÍTETT FOGPÓTLÁSOK</p>
        <p class="product-sub-heading">Richmond korona</p>
        <p class="product-heading">K+B leplezéssel</p>
        <p class="product-heading">Kerámia leplezéssel</p>
        <p>Zirkon kerámia korona</p>
        <p class="product-sub-heading">Kerámia</p>
        <p class="product-heading">Inlay</p>
        <p class="product-heading">Onlay</p>
        <p class="product-heading">Overlay </p>
    </div>
    <!--<div id="product-image" class="product-column">
        <img src="assets/img/dental-drawing.jpg">
        <img src="assets/img/fogtechnika_2.jpg">
    </div> -->
    <!-- <p class="product-sub-heading">Fogsor alaplemez akrilátból</p>
    <p>Fémlemezes fogsor</p>
    <p>Akril egyéni kanál</p>
    <p>Fémlemez</p>
    <p>Akril műfog</p>
    <p>Hajlított drótkapocs</p>
    <p>Törés javítás</p>
    <p>Plussz fog vagy kapocs részelem</p>
    <p>Fémkorona vagy fémhídtag</p>
    <p>Korona és hídtag kemény muanyag leplezéssel</p>
    <p>Fémkerámia</p>
    <p>Akril korona</p>
    <p>Csapos műcsonk</p>
    <p>Richmond kemény muanyag leplezéssel</p>
    <p>Richmond porcelán leplezéssel</p>
    <p>Teleszkóp korona primer</p>
    <p>Teleszkóp korona szekunder</p>
    <p>	Szekunder kemény muanyag leplezéssel</p>
    <p>	Szekunder porcelán muanyag leplezéssel</p>
    <p>Rejtett elhorgonyzás: Preci-line</p>
    <p>Rejtett elhorgonyzás: Vario-kugel</p>
    <p>Frézelés és interlock</p> -->
</div>