<section id = "4">
<h1 >Termékek:</h1>
<div class="container">
    <div class="product-column">
        <p class="product-main-heading">KIVEHETŐ FOGPÓTLÁSOK</p>
        <p class="product-sub-heading">Egyéni kanál</p>
        <p class="product-heading">Fényre kötő</p>
        <p>Fogsor alaplemez</p>
        <p class="product-sub-heading">Sport fogvédő</p>
        <p class="product-heading">Átlátszó</p>
        <p class="product-heading">Színes</p>
        <p class="product-heading">Mintás</p>
        <p>Fogfehérítő sín</p>
        <p>Éjszakai harapásemelő sín</p>
        <p>Horkolás gátló készülék</p>
    </div>
    <div class ="product-column" id="column-end">
            <p class="product-main-heading">KIVEHETŐ FOGPÓTLÁSOK</p>
            <p class="product-sub-heading">Műfogak</p>
            <p class="product-heading">Akril</p>
            <p class="product-heading">Kompozit</p>
            <p class="product-heading">Kerámia</p>
            <p>Alábélelés</p>
            <p>Öntött fémbetét</p>
            <p>Fémfog fogsorba</p>
            <p>Fogsorháló</p>
            <p>Fogsorjavítás</p>
            <p>Fémlemez</p>
    </div>
    <div class="product-column">
        <p class="product-main-heading">RÖGZÍTETT FOGPÓTLÁSOK</p>
        <p class="product-sub-heading">Teleszkóp korona</p>
        <p class="product-heading">Primer</p>
        <p class="product-heading">Szekunder</p>
        <p class="product-heading">Szekunder K+B leplezéssel</p>
        <p class="product-heading">Porcelán leplezéssel</p>
        <p>Fémkorona</p>
        <p>Korona v. Hídtag K+B leplezéssel</p>
        <p>Csapos műcsonk</p>
        <p>Akril korona (ideiglenes)</p>
        <p>Fémkerámia korona</p>
        </div>
    <div class="product-column">
         <p class="product-main-heading">RÖGZÍTETT FOGPÓTLÁSOK</p>
         <p class="product-sub-heading">Rejtett elhorgonyzások</p>
         <p class="product-heading">Preci-Vertix+Horix</p>
         <p class="product-heading">Vario-Kugel</p>
         <p class="product-heading">Stég</p>
         <p>Frézelt váll + Interlock</p>
         <p>Gyökér csapos Vario-Kugel fogsor elhorgonyzáshoz</p>
         <p>Üvegpillér</p>
         <p>Betétcsere</p>
         <p>Héjkerámia</p>
         <p>Jacket korona</p>
    </div>
    <div class="product-column">
        <p class="product-main-heading">RÖGZÍTETT FOGPÓTLÁSOK</p>
        <p class="product-sub-heading">Richmond korona</p>
        <p class="product-heading">K+B leplezéssel</p>
        <p class="product-heading">Kerámia leplezéssel</p>
        <p>Zirkon kerámia korona</p>
        <p class="product-sub-heading">Kerámia</p>
        <p class="product-heading">Inlay</p>
        <p class="product-heading">Onlay</p>
        <p class="product-heading" id="5">Overlay </p>
    </div>
</div>
</section>